<app-header></app-header>
<div class="container">
  <br>
  <div class="form-row">
    <div class="col">
      <button class="btn btn-primary" (click)="open(content)">
        <i class="fa fa-plus-square-o"></i> Course
      </button>
    </div>
    <div class="col">
      <input class="form-control" type="text" autocomplete="off" name="search" [(ngModel)]="filter"
        placeholder="Search...">
    </div>
  </div>
  <br>
  <!-- <div class="container"> -->
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Course Id</th>
        <th>Course Name</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Fees</th>
        <th>Status</th>
        <th>Qualifications</th>
        <th>Modules</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr [class]="!course.active?'table-danger':''"
        *ngFor="let course of courses|orderBy: key : reverse| filter:filter| paginate:{itemsPerPage:10,currentPage:page};let i=index">
        <td>{{course.courseId}}</td>
        <td>{{course.courseName}}</td>
        <td>{{course.description}}</td>
        <td>{{course.durationDays}}</td>
        <td>{{course.fees}}</td>
        <td><span *ngIf="course.active ==true">Active</span><span *ngIf="course.active !=true">Disabled</span></td>
        <td><span *ngFor="let qual of course.quals;let i = index"> {{qual.qualName}} <span
              *ngIf="i<course.quals.length-1">,</span></span></td>
        <td><span *ngFor="let mod of course.modules;let i = index"> {{mod.moduleName}} <span
              *ngIf="i<course.modules.length-1">,</span></span></td>
        <td>
          <button *ngIf="course.active;else disabledEditButton" class="btn btn-info btn-sm" (click)="openEdit(contentEdit,course)">
            <i class="fa fa-edit"></i>
          </button>
          <ng-template #disabledEditButton>
            <button class="btn btn-info btn-sm" disabled>
              <i class="fa fa-edit"></i>
            </button>
          </ng-template>
        </td>
        <td>
          <button *ngIf="course.active;else enableButton" class="btn btn-sm btn-danger" (click)="onToggleCourse(course)">
            <i class="fa fa-ban"></i>
          </button>
          <ng-template #enableButton>
            <button class="btn btn-sm btn-success" (click)="onToggleCourse(course)">
              <i class="fa fa-check-circle"></i>
            </button>
          </ng-template>
        </td>
      </tr>
      <tr *ngIf="courses.length === 0">
        <td colspan="9">
          <h6 class="text-center">No Records Found</h6>
        </td>
      </tr>

    </tbody>
  </table>
  <div class="border ">
    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
  </div>
</div>
<!-- </div> -->

<!-- ADD COURSE -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Course</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="this.isSubmitted=false; modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate autocomplete=off>
      <div class="form-group">
        <label for="courseName">CourseName</label>
        <div class="input-group">
          <input class="form-control" formControlName="courseName">
        </div>

        <div *ngIf="(isSubmitted ||formControls.courseName.touched) && formControls.courseName.errors">
          <div *ngIf="formControls.courseName.errors" class="text-danger">
            <span *ngIf="formControls.courseName.errors?.required"><sup>*</sup>Name is required</span>
          </div>
        </div>

      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">
          <input class="form-control" formControlName="description">
        </div>
      </div>
      <div class="form-group">
        <label for="durationDays">Duration</label>
        <div class="input-group">
          <input type="number" class="form-control" formControlName="durationDays">
        </div>

        <div *ngIf="(isSubmitted|| formControls.durationDays.touched) && formControls.durationDays.errors">
          <div *ngIf="formControls.durationDays.errors" class="text-danger">
            <span *ngIf="formControls.durationDays.errors?.required"><sup>*</sup>Duration is required</span>
            <span *ngIf="formControls.durationDays.errors?.pattern"><sup>*</sup>Enter a valid duration</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="fees">Fees</label>
        <div class="input-group">
          <input type="number" class="form-control" formControlName="fees">
        </div>
        <div *ngIf="(isSubmitted|| formControls.fees.touched) && formControls.fees.errors">
          <div *ngIf="formControls.fees.errors" class="text-danger">
            <span *ngIf="formControls.fees.errors?.required"><sup>*</sup>Fee is required</span>
            <span *ngIf="formControls.fees.errors?.pattern"><sup>*</sup>Enter a valid fee</span>
          </div>
        </div>
      </div>
      <div class="form-group" formArrayName="quals">
        <label for="fees">Qualifications</label><br>
        <span class="form-check form-check-inline" *ngFor="let qual of allQuals;let i=index">
          <input class="form-check-input" type="checkbox" [formControlName]="i">
          <label>{{qual.qualName}}</label>
        </span>
      </div>
      <div class="form-group" formArrayName="modules">
        <label for="fees">Modules</label><br>
        <span *ngFor="let module of allModules;let i=index">
          <input type="checkbox" [formControlName]="i">
          <label>{{module.moduleName}}</label>
        </span>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-info" (click)="onSubmit()">Submit</button>
  </div>
</ng-template>
<!-- EDIT FORM -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Course</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="this.isSubmitted=false;modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" autocomplete=off>
      <div class="form-group">
        <label for="courseId">CourseId</label>
        <div class="input-group">
          <input class="form-control" formControlName="courseId" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="courseName">CourseName</label>
        <div class="input-group">
          <input class="form-control" formControlName="courseName">
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">
          <input class="form-control" formControlName="description">
        </div>
      </div>
      <div class="form-group">
        <label for="durationDays">Duration</label>
        <div class="input-group">
          <input class="form-control" formControlName="durationDays">
        </div>
      </div>
      <div class="form-group">
        <label for="fees">Fees</label>
        <div class="input-group">
          <input class="form-control" formControlName="fees">
        </div>
      </div>
      <div class="form-group" formArrayName="quals">
        <label for="fees">Qualifications</label>
        <span class="input-group" *ngFor="let qual of allQuals;let i=index">
          <input type="checkbox" [formControlName]="i">
          <label>{{qual.qualName}}</label>
        </span>
      </div>
      <div class="form-group" formArrayName="modules">
        <label for="fees">Modules</label>
        <span class="input-group" *ngFor="let module of allModules;let i=index">
          <input type="checkbox" [formControlName]="i">
          <label>{{module.moduleName}}</label>
        </span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-info" (click)="onUpdate()">Submit</button>
  </div>
</ng-template>
