<div class="container">
  <div class="border">
    <button class="btn btn-primary" (click)="open(content)">
      <i class="fa fa-user"></i>New Course
    </button>

  </div>
  <div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Course Id</th>
          <th>Course Name</th>
          <th>Description</th>
          <th>Duration</th>
          <th>Fees</th>
          <th>Is Active</th>
          <th>Qualifications</th>
          <th>Modules</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{course.courseId}}</td>
          <td>{{course.courseName}}</td>
          <td>{{course.description}}</td>
          <td>{{course.durationDays}}</td>
          <td>{{course.fees}}</td>
          <td>{{course.active}}</td>
          <td><span *ngFor="let qual of course.quals;let i = index"> {{qual.qualName}} <span
                *ngIf="i<course.quals.length-1">,</span></span></td>
          <td><span *ngFor="let mod of course.modules;let i = index"> {{mod.moduleName}} <span
                *ngIf="i<course.modules.length-1">,</span></span></td>
          <td>
            <button class="btn btn-warning" (click)="openEdit(contentEdit,course)">
              <i class="fa fa-edit"></i>Edit
            </button>
          </td>
          <td>
            <!-- <button class="btn btn-danger"(click)="disableCourse(course);">
              <i class="fa fa-edit"></i>Delete
            </button> -->
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate autocomplete=off>
      <div class="form-group">
        <label for="courseName">CourseName</label>
        <div class="input-group">
          <input class="form-control" formControlName="courseName">
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">
          <input class="form-control" formControlName="description">
        </div>
      </div>
      <div class="form-group">
        <label for="durationDays">Duration</label>
        <div class="input-group">
          <input class="form-control" formControlName="durationDays">
        </div>
      </div>
      <div class="form-group">
        <label for="fees">Fees</label>
        <div class="input-group">
          <input class="form-control" formControlName="fees">
        </div>
      </div>
      <div class="form-group" formArrayName="quals">
        <label for="fees">Qualifications</label>
        <span class="input-group" *ngFor="let qual of allQuals;let i=index">
          <input type="checkbox"  [formControlName]="i">
          <label>{{qual.qualName}}</label>
        </span>
      </div>
      <div class="form-group" formArrayName="modules">
        <label for="fees">Modules</label>
        <span class="input-group" *ngFor="let module of allModules;let i=index">
          <input type="checkbox"  [formControlName]="i">
          <label>{{module.moduleName}}</label>
        </span>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #contentEdit let-modal>
  <div class="model-header">
    <h4 class="modal-title" id="modal-basic-title">Update Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" autocomplete=off>
      <div class="form-group">
        <label for="courseId">CourseId</label>
        <div class="input-group">
          <input class="form-control" formControlName="courseId" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="courseName">CourseName</label>
        <div class="input-group">
          <input class="form-control" formControlName="courseName">
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">
          <input class="form-control" formControlName="description">
        </div>
      </div>
      <div class="form-group">
        <label for="durationDays">Duration</label>
        <div class="input-group">
          <input class="form-control" formControlName="durationDays">
        </div>
      </div>
      <div class="form-group">
        <label for="fees">Fees</label>
        <div class="input-group">
          <input class="form-control" formControlName="fees">
        </div>
      </div>
      <div class="form-group" formArrayName="quals">
        <label for="fees">Qualifications</label>
        <span class="input-group" *ngFor="let qual of allQuals;let i=index">
          <input type="checkbox"  [formControlName]="i">
          <label>{{qual.qualName}}</label>
        </span>
      </div>
      <div class="form-group" formArrayName="modules">
        <label for="fees">Modules</label>
        <span class="input-group" *ngFor="let module of allModules;let i=index">
          <input type="checkbox"  [formControlName]="i">
          <label>{{module.moduleName}}</label>
        </span>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="onUpdate()">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
