.dashboard-card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-style: solid;
  border-radius: 10px;
  padding: 50px;
}

.dashboard-card a {
  margin: 10px;
}

.dashboard-card h2 {
  text-align: center;
}
